<footer id="gal-footer">
    <div class="container">
        Copyright © 2018 <%= config.author ? config.author : '' %> Powered by <a href="https://hexo.io/" target="_blank">Hexo</a>.&nbsp;Theme by <a href="https://github.com/ZEROKISEKI" target="_blank">AONOSORA</a>.&nbsp;版权所有ICP证:<a href="https://beian.miit.gov.cn/" target="_blank">
浙ICP备20026971号-2</a>
    </div>
</footer>

<!-- 回到顶端 -->
<div id="gal-gotop">
    <i class="fa fa-angle-up"></i>
</div>