<div class="alert well fade in" id="gal-issue" role="alert">
    <!-- TODO 添加关闭公告框功能 -->
    <button type="button" class="close" data-dismiss="alert">×</button>
    <!-- 这里自行配置公告内容 -->
    欢迎访问
    <br>
    本站是基于Hexo框架下，使用gal主题搭建的个人网站
    <br>
    建议使用chrome、firefox等现代主流浏览器访问
    <br>
    本站所有资源来自网络，如有侵权请通知网站管理员删除
    <!-- 自行配置公告内容结束 -->
</div>